.App {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.cardContainer {
  box-sizing: border-box;
  flex-basis: 20%;
  border-radius: 5px;
  box-shadow: 0 0 10px black;
  margin: 10px;
}

.cardContent {
  padding: 10px;
}

.cardText {
  margin-top: 10px;
  margin-bottom: 10px;
}


